<br>
<br>

<div class="row  justify-content-end mt-3" >
  <div class=" col-sm col-5 offset-lg-9">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  matricular 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-matricular-alu2></app-matricular-alu2>
      </div>
      
    </div>
  </div>
</div>
  </div>
    
</div>
<!-- modal fin -->
<br>
<h4 class="text-right mt-3 text-info">  Seguridad informática personal  <span> </span><span class="vr text-info" style="padding-left: 3px ;"> </span> <span class="text-muted"> Ing. Nubia Lopez </span></h4>
<hr style="color: aquamarine;">

<h3 class="text-center" style="color: aquamarine;">Introdución</h3>
         <br>
         <p style="color: aquamarine;">
          ¡Bienvenidos! En este pequeño curso les estaremos impartiendo los principales conocimientos básicos relacionados a la seguridad informática personal, que les permitirá adquirir una visión general y amplia de la seguridad informática y que al adquirir estos conocimientos en un futuro puedan ponerlos en práctica ya sea que se dediquen a esta área o no, este curso constara de 11 videos, es totalmente gratis para todo aquel que quiera reforzar sus conocimientos en cuanto a seguridad. ¡Te deseamos éxito!
         </p>
         
       
<br>
<hr>
<div class="row  text-center">
        <div class=" col-sm-12  align-self-center">          
                
                <div *ngIf="mostrar" class="ratio ratio-16x9">
                    <h3 class="text-center">video1</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/w64cv18hmIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>                  
                  <div *ngIf="mostrar2" class="ratio ratio-16x9">
                    <h3 class="text-center">video2</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hXQIyhf4_7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div *ngIf="mostrar3" class="ratio ratio-16x9">
                    <h3 class="text-center">video3</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XoeA2yWsj80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  
                 
        </div>
</div>
        
        
          
          
    
       
       <div class="row justify-content-center offset-lg-5  mt-3">
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-light" for="btnradio1" (click)="onVer()">Capitulo 1</label>
            <br>            
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio2" (click)="onVer2()">Capitulo 2</label>
            <br>            
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio3" (click)="onVer3()">Capitulo 3</label>
            <br>                                     
          </div>
        </div>
     
          
        </div> 
        <!-- nivel2 -->
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            nivel 2
          </button>
        </div>
        
        
        <div class="collapse" id="collapseExample"> 
          
<div class="row  text-center">
  <div class=" col-sm-12  align-self-center">          
          
          
            <div *ngIf="mostrar4" class="ratio ratio-16x9">
              <h3 class="text-center">video4</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/4g09m3JoQrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar5" class="ratio ratio-16x9">
              <h3 class="text-center">video5</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/xD5yGOfKh7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar6" class="ratio ratio-16x9">
              <h3 class="text-center">video6</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/JqNk8JakkMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                  </div>
            
  </div>
</div>         

            <!-- fin de videos         -->

          <div class="row justify-content-center offset-lg-5  mt-3">
            
         
              <div class="col-12 mt-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio4" (click)="onVer4()">Capitulo 4</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio5" (click)="onVer5()">Capitulo 5</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio6" (click)="onVer6()">Capitulo 6</label>  
              </div>
              </div>
              
            </div>       
        </div>
        <!-- nivel2 -->
         <!-- nivel3 -->
         <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            nivel 3
          </button>
        </div>
        
        
        <div class="collapse" id="collapseExample"> 
          
<div class="row  text-center">
  <div class=" col-sm-12  align-self-center">          
          
          
            
            <div *ngIf="mostrar7" class="ratio ratio-16x9">
              <h3 class="text-center">video7</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/6s8YqgKjHzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar8" class="ratio ratio-16x9">
              <h3 class="text-center">video8</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/G0Yd0BWPbE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar9" class="ratio ratio-16x9">
              <h3 class="text-center">video9</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/cUUD1jg9gWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar10" class="ratio ratio-16x9">
              <h3 class="text-center">video10</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/NU26P9JzCA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
  </div>
</div>         

            <!-- fin de videos         -->

          <div class="row justify-content-center offset-lg-4  mt-3">
            
         
              <div class="col-12 mt-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio7" (click)="onVer7()">Capitulo 7</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio8" (click)="onVer8()">Capitulo 8</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio9" (click)="onVer9()">Capitulo 9</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio10" (click)="onVer10()">Capitulo 10</label>                                        
                </div>
              </div>
            </div>       
        </div>
        <!-- nivel3 -->
        <!-- contenido -->
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Contenido
          </button>
        </div>
        
        <div class="collapse" id="collapseExample">
          
            <div class="ratio ratio-16x9">                        
              <iframe src="../../../assets/pdf/CURSO NUBIA/Curso Seguridad Informatica.pdf" frameborder="0">
              </iframe>
             </div>  
           </div>
           <div class="d-grid gap-2 mt-3">
            <button class="btn  btn-outline-info border">
              <h5><a class="text-center " href="../../../assets/pdf/CURSO NUBIA/EVALUACIÓN CURSO.pdf" download="Evaluacion">Descargar Evaluacion</a></h5>
             </button>
           </div>
           
           
        <!-- contenido -->
       

        
                 
        

  
       