<br>
<br>
<br>

<div class="conatiner">
      <div class="row text-center" *ngFor=" let campo of campos">
           <div class="col-12">
            <h2 style="color:aquamarine">{{campo.instructor}}</h2>
           </div>
      </div>
      <div id="htmlData" *ngIf="campos.length > 0"  class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
        <h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
           <div *ngFor=" let campo of campos"  class="col mt-3">            
            <div class="d-flex position-relative mt-3">                
                <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
                <div>                  
                  <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
                  <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
                  <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
                  <h5 class="mt-0" >Sexo:       <span class="text-muted" >{{campo.sexo }}</span></h5>
                  <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
                  <hr>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
           </div>        
   </div>
   <div class="text-center mt-4">
    <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF();">Certificar a Todos</p>
   </div>
   <br>
   
   <!-- inicio tabla -->
   <div class="row text-center" *ngFor=" let campo of campos2">
    <div class="col-12">
     <h2 style="color:aquamarine">{{campo.instructor}}</h2>
    </div>
</div>
<div id="htmlData2" *ngIf="campos2.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
 <h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
    <div *ngFor=" let campo of campos2"  class="col mt-3">            
     <div class="d-flex position-relative mt-3">                
         <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
         <div>                  
           <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
           <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
           <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
           <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
           
           <hr>
           <br>
           <br>
           <br>
         </div>
       </div>
    </div>        
</div>
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF2();">Certificar a Todos</p>
 </div>
 <br>
<!-- inicio fin -->
<!-- inicio tabla -->
<div class="row text-center" *ngFor=" let campo of campos3">
  <div class="col-12">
   <h2 style="color:aquamarine">{{campo.instructor}}</h2>
  </div>
</div>
<div id="htmlData3" *ngIf="campos3.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
<h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
  <div *ngFor=" let campo of campos3"  class="col mt-3">            
   <div class="d-flex position-relative mt-3">                
       <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
       <div>                  
         <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
         <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
         <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
         <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
         
         <hr>
         <br>
         <br>
         <br>
       </div>
     </div>
  </div>        
</div><!-- inicio fin -->
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF3();">Certificar a Todos</p>
 </div>
 <br>
<!-- inicio tabla -->
<div class="row text-center" *ngFor=" let campo of campos4">
  <div class="col-12">
   <h2 style="color:aquamarine">{{campo.instructor}}</h2>
  </div>
</div>
<div id="htmlData4" *ngIf="campos4.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
<h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
  <div *ngFor=" let campo of campos4"  class="col mt-3">            
   <div class="d-flex position-relative mt-3">                
       <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
       <div>                  
         <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
         <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
         <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
         <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
         
         <hr>
         <br>
         <br>
         <br>
       </div>
     </div>
  </div>        
</div><!-- inicio fin -->
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF4();">Certificar a Todos</p>
 </div>
 <br>
<!-- inicio tabla -->
<div class="row text-center" *ngFor=" let campo of campos5">
  <div class="col-12">
   <h2 style="color:aquamarine">{{campo.instructor}}</h2>
  </div>
</div>
<div id="htmlData5" *ngIf="campos5.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
<h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
  <div *ngFor=" let campo of campos5"  class="col mt-3">            
   <div class="d-flex position-relative mt-3">                
       <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
       <div>                  
         <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
         <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
         <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
         <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
         
         <hr>
         <br>
         <br>
         <br>
       </div>
     </div>
  </div>        
</div>
<!-- inicio fin -->
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF5();">Certificar a Todos</p>
 </div>
 <br>
<!-- inicio tabla -->
<div class="row text-center" *ngFor=" let campo of campos6">
  <div class="col-12">
   <h2 style="color:aquamarine">{{campo.instructor}}</h2>
  </div>
</div>
<div id="htmlData6" *ngIf="campos6.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
<h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
  <div *ngFor=" let campo of campos6"  class="col mt-3">            
   <div class="d-flex position-relative mt-3">                
       <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
       <div>                  
         <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
         <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
         <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
         <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
         
         <hr>
         <br>
         <br>
         <br>
       </div>
     </div>
  </div>        
</div><!-- inicio fin -->
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF6();">Certificar a Todos</p>
 </div>
 <br>
<!-- inicio tabla -->
<div class="row text-center" *ngFor=" let campo of campos7">
  <div class="col-12">
   <h2 style="color:aquamarine">{{campo.instructor}}</h2>
  </div>
</div>
<div id="htmlData7" *ngIf="campos7.length > 0" class="row mt-2 justify-content-center border border-3" style="color:blanchedalmond">
<h4 *ngIf="mostrar" style="color:red ;"> NO hay datos</h4>
  <div *ngFor=" let campo of campos7"  class="col mt-3">            
   <div class="d-flex position-relative mt-3">                
       <img src="../../../assets/userAlumno.png" class="flex-shrink-0 me-5" style="height: 7rem ;" alt="...">
       <div>                  
         <h5 class="mt-0" >Nombre: <span class="text-muted">{{campo.nombre}},{{campo.Segundonombre}}</span></h5>                                                                    
         <h5 class="mt-0" >Apellido: <span class="text-muted">{{campo.apellido}},{{campo.Segundoapellido}}</span></h5>                  
         <h5 class="mt-0" >ID:       <span class="text-muted" >{{campo.identidad }}</span></h5>
         <h5 class="mt-0" >Email:    <span class="text-muted">{{campo.correo }}</span></h5>                  
         
         <hr>
         <br>
         <br>
         <br>
       </div>
     </div>
  </div>        
</div>
<!-- fin de la tabla -->
</div>
<div class="text-center mt-4">
  <p class="text-info btn col col-lg-4 " style="font-size: 1.8rem;" (click)="downloadPDF7();">Certificar a Todos</p>
 </div>
 <br>


