<br>
<br>
<br>

<div class="row  justify-content-end mt-3" >
  <div class=" col-sm col-5 offset-lg-9">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  matricular 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-matricular-alu6></app-matricular-alu6>
      </div>
      
    </div>
  </div>
</div>
  </div>
    
</div>
<!-- modal fin -->
<br>
<h4 class="text-right mt-3 text-info">  Curso online de Office  <span> </span><span class="vr text-info" style="padding-left: 3px ;"> </span> <span class="text-muted"> Ing.  Isaias Aparicio </span></h4>
<hr style="color: aquamarine;">

<h3 class="text-center" style="color: aquamarine;">Introdución</h3>
         <br>
         <p style="color: aquamarine;">
          El objetivo de este curso básico de Crear y modificar documentos de Word, Excel y PowerPoint sin ayuda de nadie. Que los estudiantes puedan Combinar el uso del paquete Office para trabajar de manera más eficiente y Al finalizar el curso el alumno podrá trabajar sin problema en administración, secretaría y gestión.
         </p>
         
       
<br>
<hr>           
     <div class="row  text-center">
        <div class=" col-sm-12  align-self-center">          
                
                <div *ngIf="mostrar" class="ratio ratio-16x9">
                    <h3 class="text-center">video1</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pbvwCTld8BA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>                  
                  <div *ngIf="mostrar2" class="ratio ratio-16x9">
                    <h3 class="text-center">video2</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/furLE2g8jZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div *ngIf="mostrar3" class="ratio ratio-16x9">
                    <h3 class="text-center">video3</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DB1CzpT4Qtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  
                 
        </div>
</div>
        
        
          
          
    
       
       <div class="row justify-content-center offset-lg-5  mt-3">
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" checked>
            <label class="btn btn-outline-light" for="btnradio21" (click)="onVer()">Capitulo1</label>
           <br>            
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio2" (click)="onVer2()">Capitulo 2</label>
            <br>            
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio3" (click)="onVer3()">Capitulo 3</label>
            <br>                                     
          </div>
        </div>
     
          
        </div> 
        <!-- nivel2 -->
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            nivel 2
          </button>
        </div>
        
        
        <div class="collapse" id="collapseExample"> 
          
<div class="row  text-center">
  <div class=" col-sm-12  align-self-center">          
          
          
            <div *ngIf="mostrar4" class="ratio ratio-16x9">
              <h3 class="text-center">video4</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Qngv4AOAjS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar5" class="ratio ratio-16x9">
              <h3 class="text-center">video5</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/VPyAxNgCF3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar6" class="ratio ratio-16x9">
              <h3 class="text-center">video6</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/B1vfwuQdqGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 </div>
            
  </div>
</div>         

            <!-- fin de videos         -->

          <div class="row justify-content-center offset-lg-5  mt-3">
            
         
              <div class="col-12 mt-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio4" (click)="onVer4()">Capitulo 4</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio5" (click)="onVer5()">Capitulo 5</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio6" (click)="onVer6()">Capitulo 6</label>  
              </div>
              </div>
              
            </div>       
        </div>
        <!-- nivel2 -->
         <!-- nivel3 -->
         <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            nivel 3
          </button>
        </div>
        
        
        <div class="collapse" id="collapseExample"> 
          
<div class="row  text-center">
  <div class=" col-sm-12  align-self-center">          
          
          
            
            <div *ngIf="mostrar7" class="ratio ratio-16x9">
              <h3 class="text-center">video7</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2wNnB3SndW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar8" class="ratio ratio-16x9">
              <h3 class="text-center">video8</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/g6zaadbD-0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar9" class="ratio ratio-16x9">
              <h3 class="text-center">video9</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/vsDopFpEYPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div *ngIf="mostrar10" class="ratio ratio-16x9">
              <h3 class="text-center">video10</h3>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7Tj-BoKLPTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
  </div>
</div>         

            <!-- fin de videos         -->

          <div class="row justify-content-center offset-lg-4  mt-3">
            
         
              <div class="col-12 mt-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio7" (click)="onVer7()">Capitulo 7</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio8" (click)="onVer8()">Capitulo 8</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio9" (click)="onVer9()">Capitulo 9</label>
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio210" autocomplete="off">
                  <label class="btn btn-outline-light" for="btnradio10" (click)="onVer10()">Capitulo 10</label>                                        
                </div>
              </div>
            </div>       
        </div>
        <!-- nivel3 -->
        <!-- contenido -->
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            presentacion Intructor
          </button>
        </div>
        
        <div class="collapse" id="collapseExample">
          
            <div class="ratio ratio-16x9">                        
              <iframe src="../../../assets/pdf/boriscurso/presentacion cursosHn boris aparicio.pdf" frameborder="0">
              </iframe>
             </div>  
           </div>
           <div class="d-grid gap-2 mt-3">
            <button class="btn  btn-outline-info border">
              <h5><a class="text-center " href="https://docs.google.com/document/d/14vWsCy3EulgRqoEt6nMwwrcrsz_uW7MQ/edit?usp=sharing&ouid=113661939125028043351&rtpof=true&sd=true" download="Evaluacion">ir a laEvaluacion</a></h5>
             </button>
           </div>
           
           <!-- contenido execel inicio -->
           
           <br>           
           <h2 class="text-center border" style="color: aquamarine;">Execel</h2>
           <br>
           <div class="row  text-center">
            <div class=" col-sm-12  align-self-center">          
                    
                    <div *ngIf="exemostrar" class="ratio ratio-16x9">
                        <h3 class="text-center">video1</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yKWFMgurUnU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>                  
                      <div *ngIf="exemostrar2" class="ratio ratio-16x9">
                        <h3 class="text-center">video2</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/47nJsZ97sz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div *ngIf="exemostrar3" class="ratio ratio-16x9">
                        <h3 class="text-center">video3</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/GafEekpQu1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      
                     
            </div>
    </div>
            
            
              
              
        
           
           <div class="row justify-content-center offset-lg-5  mt-3">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" checked>
                <label class="btn btn-outline-light" for="btnradio11" (click)="exeonVer()">Capitulo 1</label>
                <br>            
                <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio12" (click)="exeonVer2()">Capitulo 2</label>
                <br>            
                <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio13" (click)="exeonVer3()">Capitulo 3</label>
                <br>                                     
              </div>
            </div>
         
              
            </div> 
            <!-- nivel2 -->
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                nivel 2
              </button>
            </div>
            
            
            <div class="collapse" id="collapseExample"> 
              
    <div class="row  text-center">
      <div class=" col-sm-12  align-self-center">          
              
              
                <div *ngIf="exemostrar4" class="ratio ratio-16x9">
                  <h3 class="text-center">video4</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/78kuqNn2fzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="exemostrar5" class="ratio ratio-16x9">
                  <h3 class="text-center">video5</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_Sl2QmSmvuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="exemostrar6" class="ratio ratio-16x9">
                  <h3 class="text-center">video6</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/lWS9fMw1KWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
      </div>
    </div>         
    
                <!-- fin de videos         -->
    
              <div class="row justify-content-center offset-lg-5  mt-3">
                
             
                  <div class="col-12 mt-3">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off">
                    <label class="btn btn-outline-light" for="btnradio14" (click)="exeonVer4()">Capitulo 4</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio15" autocomplete="off">
                    <label class="btn btn-outline-light" for="btnradio15" (click)="exeonVer5()">Capitulo 5</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio16" autocomplete="off">
                    <label class="btn btn-outline-light" for="btnradio16" (click)="exeonVer6()">Capitulo 6</label>  
                  </div>
                  </div>
                  
                </div>       
            </div>
            <!-- nivel2 -->
             <!-- nivel3 -->
             <div class="d-grid gap-2 mt-3">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                nivel 3
              </button>
            </div>
            
            
            <div class="collapse" id="collapseExample"> 
              
    <div class="row  text-center">
      <div class=" col-sm-12  align-self-center">          
              
              
                
                <div *ngIf="exemostrar7" class="ratio ratio-16x9">
                  <h3 class="text-center">video7</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/09d5OQ9yDXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="exemostrar8" class="ratio ratio-16x9">
                  <h3 class="text-center">video8</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/_2Mg5vBSM4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="exemostrar9" class="ratio ratio-16x9">
                  <h3 class="text-center">video9</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/I0kYLaPNgRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="exemostrar10" class="ratio ratio-16x9">
                  <h3 class="text-center">video10</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/AIipB0FFw7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
      </div>
    </div>         
    
                <!-- fin de videos         -->
    
              <div class="row justify-content-center offset-lg-4  mt-3">
                
             
                  <div class="col-12 mt-3">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio17" autocomplete="off">
                      <label class="btn btn-outline-light" for="btnradio17" (click)="exeonVer7()">Capitulo 7</label>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio18" autocomplete="off">
                      <label class="btn btn-outline-light" for="btnradio18" (click)="exeonVer8()">Capitulo 8</label>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio19" autocomplete="off">
                      <label class="btn btn-outline-light" for="btnradio19" (click)="exeonVer9()">Capitulo 9</label>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off">
                      <label class="btn btn-outline-light" for="btnradio20" (click)="exeonVer10()">Capitulo 10</label>                                        
                    </div>
                  </div>
                </div>       
            </div>
            <!-- nivel3 -->
            <!-- contenido -->
            
               <div class="d-grid gap-2 mt-3">
                <button class="btn  btn-outline-info border">
                  <h5><a class="text-center " href="https://docs.google.com/document/d/1P4FiMsov3Spp36RI9R_8NPcx1oGV6Hj6/edit?usp=sharing&ouid=113661939125028043351&rtpof=true&sd=true" >Ir a la Evaluacion</a></h5>
                 </button>
               </div>
        
           <!-- contenido execel fin -->
           <!-- PowerPoint inicio -->
           <br>           
           <h2 class="text-center border" style="color: aquamarine;">PowerPoint</h2>
           <br>
           <div class="row  text-center">
            <div class=" col-sm-12  align-self-center">          
                    
                    <div *ngIf="pomostrar" class="ratio ratio-16x9">
                        <h3 class="text-center">video1</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pDfZOFtdF-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>                  
                      <div *ngIf="pomostrar2" class="ratio ratio-16x9">
                        <h3 class="text-center">video2</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zSlphB24lVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div *ngIf="pomostrar3" class="ratio ratio-16x9">
                        <h3 class="text-center">video3</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OVBpCNYyD5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      
                     
            </div>
    </div>
            
            
              
              
        
           
           <div class="row justify-content-center offset-lg-5  mt-3">
            <div class="col-12">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" checked>
                <label class="btn btn-outline-light" for="btnradio21" (click)="poonVer()">Capitulo 1</label>
                <br>            
                <input type="radio" class="btn-check" name="btnradio" id="btnradio22" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio22" (click)="poonVer2()">Capitulo 2</label>
                <br>            
                <input type="radio" class="btn-check" name="btnradio" id="btnradio23" autocomplete="off">
                <label class="btn btn-outline-light" for="btnradio23" (click)="poonVer3()">Capitulo 3</label>
                <br>                                     
              </div>
            </div>
         
              
            </div> 
            <!-- nivel2 -->
            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                nivel 2
              </button>
            </div>
            
            
            <div class="collapse" id="collapseExample"> 
              
    <div class="row  text-center">
      <div class=" col-sm-12  align-self-center">          
              
              
                <div *ngIf="pomostrar4" class="ratio ratio-16x9">
                  <h3 class="text-center">video4</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/PEyp3k8TM4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="pomostrar5" class="ratio ratio-16x9">
                  <h3 class="text-center">video5</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/dYYFOifmcSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div *ngIf="pomostrar6" class="ratio ratio-16x9">
                  <h3 class="text-center">video6</h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/802Ozxa9vRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 </div>
                
      </div>
    </div>
    <div class="row justify-content-center offset-lg-5  mt-3">
      
            
         
      <div class="col-12 mt-3">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group mr-3"> 
        <input type="radio" class="btn-check" name="btnradio" id="btnradio24" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio24" (click)="poonVer4()">Capitulo 4</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio25" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio25" (click)="poonVer5()">Capitulo 5</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio26" autocomplete="off">
        <label class="btn btn-outline-light" for="btnradio26" (click)="poonVer6()">Capitulo 6</label>  
      </div>
      </div>
      
    </div>
                   
    </div> 
    <div class="d-grid gap-2 mt-3">
      <button class="btn  btn-outline-info border">
        <h5><a class="text-center " href="https://docs.google.com/document/d/19Vxrhdu_e0TgJJXEoxWOPRztK0pLGwGb/edit?usp=sharing&ouid=113661939125028043351&rtpof=true&sd=true" download="Evaluacion">IR a la Evaluacion</a></h5>
       </button>
     </div>       
    
           <!-- PowerPoint fin -->
                      
           
        
       

        
                 
        

  
       

