<div  class="container-sm mt-3">
     <div class="row">
        <div class="col">
            <div class="card text-dark">
                <div class="card-header">
                    <h4 class="">Acerca del curso</h4>
                    <p >
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
                    </p>
                </div>
                  <div class="card-body  gap-2 text-start">
                       <h5>Instructor: <span class="text-muted">standard chunk</span></h5>
                       <h5>Duración  :   <span class="text-muted">2 horas</span></h5>
                       <h5>Requisitos: <span class="text-muted">below,Ipsumn, ,used  y since</span></h5>
                  </div>
                <hr>
            </div>
        </div>
     </div>
    <!-- <app-login></app-login>  -->
</div>
