<br>
<br>
<br>

<div class="row  justify-content-end mt-3" >
  <div class=" col-sm col-5 offset-lg-9">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  matricular 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-matricular-alu5></app-matricular-alu5>
      </div>
      
    </div>
  </div>
</div>
  </div>
    
</div>
<!-- modal fin -->

