<br>
<br>
<br>

<div class="row  justify-content-end mt-3" >
  <div class=" col-sm col-5 offset-lg-9">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  matricular 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-matricular-alu7></app-matricular-alu7>
      </div>
      
    </div>
  </div>
</div>
  </div>
    
</div>
    
<header class="content header">
  <h2 class="title">Internet de Las cosas</h2>
  <p>
  Se introducen los conceptos básicos sobre la IoT. Seguidamente se presentan algunos entorno de la IoT y se describen las principales aplicaciones, el estado actual del mercado y las tecnologías que
   permiten la existencia de la IoT. 
   Finalmente se analizan los retos de futuro que se consideran más importantes.
  </p>

  <div class="btn-home">
      <a href="#" class="btn">Mejora tu Conocimiento</a>
      <a href="#" class="btn">Aumenta tu conocimiento</a>
  </div>
</header>

<section class="content sau">

  <h2 class="title">Capitulo 1</h2>
  <p>introduccion al Internet de las Cosas</p>
  <p>¿Que es el Iot?</p>
            <p>En este apartado lograras visualizar una presentacion dandote a
               conocer principios basicos del IOT</p>
               <iframe src="../../../assets/pdf/Iot2/Presentacion.pdf" style= "width: 500px; height: 900px;" frameborder:0></iframe>
               <br><br>

               <p>Video Explicativo</p>
                <iframe width="400" height="200" src="https://www.youtube.com/embed/fWrY571yHYI" title="YouTube video player" frameborder="0" allow="accelerometer; 
                autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</section>

<section class="content sau">

  <h2 class="title">Capitulo 2</h2>
  <p>Principios y Caracteristicas del Iot</p>
  <p>Aspectos Claves</p>
            <p>En esta seccion , podras visualizar una Infografia 
              definiendo puntos claves en la IoT</p>
               <iframe src="../../../assets/pdf/Iot2/Infografia.pdf" style= "width: 500px; height: 900px;" frameborder:0></iframe>
               <br><br>

               <p>Video Explicativo</p>
               <iframe width="400" height="200" src="https://www.youtube.com/embed/Tm6oH4dffeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
               clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</section>


<section class="content sau">

  <h2 class="title">Capitulo 3</h2>
  <p>Ejemplos y Practicas del Iot</p>
  <p>¿Como podemos simular una IoT ?:</p>
            <p>En este ultimo encuentro utilizaremos Packet Tracer la cual es una herramienta integral de enseñanza y aprendizaje de tecnología de redes que ofrece una combinación única de experiencias de simulación y visualización
               realistas, evaluación, capacidades de creación de actividades, oportunidades de competencia.</p>
               <p>Video Explicativo</p>
               <iframe width="1200" height="600" src="https://www.youtube.com/embed/e6BMDOa7VxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
               encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
</section>
<section class="content price">

  <article class="contain">
      <h2 class="title">PRUEVA EVALUATIVA FINAL</h2>
      <p>Para completar tu curso , debera descargar la guia para evaluar los conocimientos adquiridos.
      </p>

      <a href="../../../assets/pdf/Iot2/PRUEBA EVALUATIVA FINAL.pdf" class="btn" download="Prueba Final.pdf">DESCARGAR EVALUACION FINAL</a>

  </article>

</section>

<section class="content contact">
  <h2 class="title">Proyectos2</h2>
  <p>Grupo 3</p>
<br> 
  <p>Año 2022</p>
</section>
