<br>
<br>
<br>

<div class="row  justify-content-end mt-3" >
  <div class=" col-sm col-5 offset-lg-9">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  matricular 
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-matricular-alu4></app-matricular-alu4>
      </div>
      
    </div>
  </div>
</div>
  </div>
    
</div>
<!-- modal fin -->
<br>
<h4 class="text-right mt-3 text-info">  hacking ético <span> </span><span class="vr text-info" style="padding-left: 3px ;"> </span> <span class="text-muted"> Ing. Edwan Santos</span></h4>
<hr style="color: aquamarine;">

<h3 class="text-center" style="color: aquamarine;">Introdución</h3>
         <br>
         <p style="color: aquamarine;">
          En este curso podrás aprender más sobre el hacking ético, cuáles son sus inicios, los beneficios que conlleva aplicarlo en las empresas u organización, sus creadores, este curso ha sido creado con el fin de que el cursante pueda adquirir conocimientos nuevos acerca de este tema o si bien ampliar sus conocimientos, constara de un tiempo de duración de 4 horas y se podrá realizar en el momento que lo desees conveniente, al final del curso habrá una evaluación donde se pondrá a prueba todos los conocimientos aquí mostrados.
         </p>
         
       
<br>
<hr class="text-info">
<div class="row  ">
  <div class="col-12 ratio ratio-16x9">
    <iframe width="360" height="315" src="https://www.youtube.com/embed/bquM3077ljk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<hr class="text-info">

<!-- contenido inicio -->
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Contenido
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
     <div class="row">
      <div class="col-6">
        <div class="ratio ratio-16x9">
  <iframe src="../../../assets/pdf/hacking etico/Hacking etico pdf y enlaces/Introducción al Hacking Ético- capitulo1.pdf"  allowfullscreen></iframe>
</div>
      </div>
      <div class="col-6">
        <div class="ratio ratio-16x9">
  <iframe src="../../../assets/pdf/hacking etico/Hacking etico pdf y enlaces/Reconocimiento o footprinting- capitulo2.pdf"  allowfullscreen></iframe>
</div>
      </div>
     </div>
  </div>
</div>
</div>
<!-- contenido fin -->

<!-- evaluacion inicio -->

 <br>
 <br>
   <div class="btn btn-dark d-grid">
      <a href="https://forms.gle/ZbDQvHtQnGQ9Kjan"><h2 class="text-center">ir a la evaluación</h2></a>
   </div>

<!-- evaluacion fin -->