  
  <div class="cadr  ">
    <div class="card-title text-center mt-3 ">
        <div class="h4 pb-2 mb-4  border-bottom border-primary">
            Inicio de Seccion
          </div>
    </div>
    <div class="card-body">
        <form  >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="margin-left:10px ;"> Email address</label>
              <input type="email" class="form-control"  placeholder="correo@gmail.com" name="correo" >              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" style="margin-left:10px ;">Password</label>
              <input type="type" class="form-control" placeholder="contraseña XXX"   name="Contra" 
              >
              
            </div>
            <div  class="d-grid gap-2 col-10 mx-auto mb-3">
                <button class="btn btn-primary" type="button"  >Inicio</button>
                <button class="btn btn-primary" type="button">Registro</button>                
              </div>                       
        </form>
        <br>
    </div>    
  </div>

