<br>
<div class="row  justify-content-end mt-3" >
    <div class=" col-sm col-5 offset-lg-9">
      <!-- Button trigger modal -->
  
  
  <!-- Modal -->
  <div class="modal fade" id="1staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="1staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-matricular-alu6></app-matricular-alu6>
        </div>
        
      </div>
    </div>
  </div>
    </div>
      
  </div>
  <!-- modal fin -->
<br>
<div class="container-sm animate__animated animate__fadeInUp mt-4">
  <div class="card mt-4">
     <div class="card-body">
         <span class="h3">Alumnos</span>                  
         <button class="btn btn-dark btn-lg float-end" style="text-transform: uppercase;" (click)="onAluAgregar()">Agregar</button>
          <h3 *ngIf="campos.length == 0" class="text-center  mt-3" style="color:brown;">No hay Datos</h3>
         <hr class="mt-4">
         <table *ngIf="campos.length > 0" class="table table-info table-striped mt-4 text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Nombre Segundo</th>
                <th>Apellido</th>
                <th>Apellido Segundo</th>
                <th class="text-center">identidad</th>
                <th>Edad</th>
                <th>Curso</th>
                <th>Correo</th>
                <th>iD </th>                  
                <th>Administrar </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campo of campos let i =index">
                <div *ngIf="cargar" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>   
                <td>{{i+1}}</td>             
                <td>{{campo.nombre}}</td>
                <td>{{campo.segundonombre}}{{campo.Segundonombre}}</td>
                <td>{{campo.apellido}}</td>
                <td>{{campo.segundoapellido}}{{campo.Segundoapellido}}</td>
                <td>{{campo.identidad}}</td>
                <td>{{campo.edad}}</td>
                <td>{{campo.curso}}</td>
                <td>{{campo.correo}}</td>                
                <td>{{campo.id}}</td>
                <td> 
                  <i class="fa-solid fa-user-pen fa-lg text-info"  style="margin-right:10px ;"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop"(click)="editAlumnos(campo)"></i>
                  <i class="fa-solid fa-trash fa-lg text-danger" (click)="onEliminarAlumnos(campo)" ></i>                 
                </td>
                                
              </tr>
              
            </tbody>
          </table>
     </div>
  </div>
</div>
<!--modal-->}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <app-edi-al6 [alumno]="alumnoEditar"></app-edi-al6>  
      </div>
      
  </div>
</div>

