<br>
<br>
<br>
<br> 
 <div  class="row mt-3 text-center">
       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Introducion a las Tics</h5>              
              <button (click)="onCurso1()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>
       
       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Seguridad Informática Personal</h5>              
              <button (click)="onCurso2()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>

       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Negocio electrónico global"</h5>              
              <button (click)="onCurso3()"  class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>
       
       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Hacking Ético</h5>              
              <button (click)="onCurso4()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>

       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Curso básico de office</h5>              
              <button (click)="onCurso5()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>

       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title">Word Basico</h5>              
              <button (click)="onCurso6()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>

       <div  class="col-lg-4 mt-3">
        <div class="card">
            <h5 class="card-header">Curso</h5>
            <div class="card-body">
              <h5 class="card-title"> El Internet de las cosas</h5>              
              <button (click)="onCurso7()" class="btn btn-info" >Administrar</button>
            </div>
          </div>
       </div>
 </div>
 

